@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap')

// maybe usefull
//@import url("https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css")

$bannerHeight ?= 12rem

// overwrite default styles here
body
  font-family: "Roboto", sans-serif
  
  .navbar-site-name
    color: #2c3e50 !important