backend:
  name: github
  repo: simplify-web/www
  branch: master # Branch to update (optional; defaults to master)
media_folder: "docs/.vuepress/public/uploads"
public_folder: "/uploads" # defaults to media_folder
collections:
  - name: "doc" # Used in routes, e.g., /admin/collections/blog
    label: "Doc" # Used in the UI
    folder: "docs" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: "seminare" # Used in routes, e.g., /admin/collections/blog
    label: "Seminare" # Used in the UI
    folder: "docs/seminare" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - {label: "Titel", name: "title", widget: "string"}
      - {label: "Anfangsdatum", name: "startDate",  widget: "datetime", timeformat: false, default: ""}
      - {label: "Endedatum",    name: "endDate",    widget: "datetime", timeformat: false, default: ""}
      - {label: "Beschreibung Kurz", name: "descriptionShort", widget: "markdown"}
      - {label: "Beschreibung Lang", name: "description", widget: "markdown"}